<section class="h-[70lvh] flex items-center justify-center text-center">
  <button
    *ngIf="state === 'lookForAGame'"
    (click)="lookForAGame()"
    class="w-[20lvh] flex flex-col hover:text-sky-200 hover:scale-110 transition-transform duration-100 cursor-pointer"
  >
    look for game
  </button>
  <h1
    *ngIf="state === 'lookingForAGame'"
    class="w-[32lvh] flex flex-col hover:text-sky-200 cursor-progress"
  >
    {{lookingForAGame}}
  </h1>
  <section
    *ngIf="state === 'game'"
    class="flex flex-row items-center justify-center gap-x-5"
  >

    <div class="flex flex-col gap-y-2 items-center">
      <h1 class="w-[32lvh] flex flex-col hover:text-sky-200">you</h1>
      <table class="bg-transparent rounded">
        <tr *ngFor="let row of tetrisService.add_current_piece_to_board(multiplayer.my_game).current_board">
          <td *ngFor="let num of row"
              class="w-4 h-4 sm:w-8 sm:h-8 rounded-lg"
              [style.backgroundColor]="getCellColor(num)">
          </td>
        </tr>
      </table>
    </div>
    <div class="flex flex-col gap-y-2 items-center">
      <h1 class="w-[32lvh] flex flex-col hover:text-sky-200">blue</h1>
      <table class="bg-transparent rounded">
        <tr *ngFor="let row of tetrisService.add_current_piece_to_board(multiplayer.opp_game).current_board">
          <td *ngFor="let num of row"
              class="w-4 h-4 sm:w-8 sm:h-8 rounded-lg"
              [style.backgroundColor]="getCellColor(num, blueMask)">
          </td>
        </tr>
      </table>
    </div>
  </section>
</section>
