<section class="h-[70lvh] flex items-center justify-center text-center">
  <button
    *ngIf="state === 'lookForAGame'"
    (click)="lookForAGame()"
    class="w-[20lvh] flex flex-col hover:text-sky-200 hover:scale-110 transition-transform duration-100 cursor-pointer"
  >
    look for game
  </button>
  <h1
    *ngIf="state === 'lookingForAGame'"
    class="w-[32lvh] flex flex-col hover:text-sky-200 cursor-progress"
  >
    {{lookingForAGame}}
  </h1>
  <section
    *ngIf="state === 'game'"
    class="flex flex-row items-center justify-center gap-x-5"
  >

    <div class="flex flex-col gap-y-2 items-center">
      <h1 class="w-[32lvh] flex flex-col hover:text-sky-200">you</h1>
      <div class="grid gap-0"
           [ngClass]="'grid-cols-' + tetrisService.add_current_piece_to_board(multiplayer.my_game).current_board[0].length">
        <div *ngFor="let num of tetrisService.add_current_piece_to_board(multiplayer.my_game).current_board.flat()"
             class="w-4 h-4 sm:w-8 sm:h-8 rounded-lg"
             [style.backgroundColor]="getCellColor(num)">
        </div>
      </div>
    </div>
    <div class="flex flex-col gap-y-2 items-center">
      <h1 class="w-[32lvh] flex flex-col hover:text-sky-200">blue</h1>
      <div class="grid gap-0"
           [ngClass]="'grid-cols-' + tetrisService.add_current_piece_to_board(multiplayer.opp_game).current_board[0].length">
        <div *ngFor="let num of tetrisService.add_current_piece_to_board(multiplayer.opp_game).current_board.flat()"
             class="w-4 h-4 sm:w-8 sm:h-8 rounded-lg"
             [style.backgroundColor]="getCellColor(num, blueMask)">
        </div>
      </div>
    </div>
  </section>
  <h1
    *ngIf="state === 'gameOver'"
    class="w-[32lvh] flex flex-col hover:text-sky-200 cursor-progress"
  >
    {{game_over_message}}
  </h1>
</section>
